<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>sign-up</h1>
    <div>email</div>
    <input class='signup-email'>
    <div>password</div>
    <input class='signup-password'>
    <button class="signup-button">sign-up</button>

    <h1>sign-in</h1>
    <div>email</div>
    <input class='signin-email'>
    <div>password</div>
    <input class='signin-password'>
    <button class="signin-button">sign-in</button>

    <h2>Response Message：</h2>
    <div class="message" style="color: red;"> (message will show up here)</div>

    <script src="./static/homepage.js"></script>
</body>
</html>